#fairseq @ git+git://github.com/pytorch/fairseq.git@5a75b079bf8911a327940c28794608e003a9fa52
fairseq
sentencepiece==0.1.96
sacrebleu
cffi==1.14.5
cycler==0.10.0
Cython==0.29.21
hydra-core==0.11.3
kiwisolver==1.3.1
levenshtein==0.12.0
matplotlib==3.3.4
numpy==1.19.5
omegaconf==1.4.1
pandas==1.1.5
Pillow==8.1.0
portalocker==2.2.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
sacrebleu==1.5.0
scipy==1.5.4
seaborn==0.11.1
six==1.15.0
torch==1.7.1
tqdm==4.57.0
typing-extensions==3.7.4.3

